<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/letter-e.png">
    <meta charset="utf-8" />
    <meta property="og:image" content="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/letter-e.png">
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0" />

    <title>Evan Tan<%= ': ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
  </head>

  <body>
    <%= partial "header" %>
    <div id="blog-container">
      <h1>
        <% current_page.data.title do |f| %>
          <%= f %>
        <% end %>
      </h1>
      <b><i><% current_page.data.subtitle do |f| %>
        <%= f %>
      <% end %>
      </i></b><p>
      <i>By Evan Tan<br>
        Published
        <% current_page.data.date do |f| %>
          <%= f %>
        <% end %>
      </i>

      <section class=“post-container”>
        <%= yield %>
      </section>

      <!-- <div id="main" role="main">
        <aside class="side-nav">
          <ul>
            <% blog.tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ul>
        </aside>
      </div> -->

      <h3>Recent Articles</h3>
      <ul>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%e %b %Y') %></span></li>
        <% end %>
      </ul>
    </div>
      <!-- <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol> -->

      <!-- <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol> -->


  </body>
</html>
