<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Evan Tan<%= ': ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
  </head>

  <body>
    <%= partial "header" %>
    <div id="main" role="main">
      <aside class="side-nav">
        <h1>Hi, I'm Evan</h1>
        <p>My name is Evan, and I'm Chief of Staff at Holistics Software, a full-stack data analytics
          platform ranked #2 globally by Gartner's FrontRunners in 2019.
        <p> Having worked with many
          startups making a difference through building great products and using data, I enjoy finding
          ways to use data to help action-takers operationalise their visions, to do meaningful work
          and build purposeful careers.
        </p>
      </aside>
    </div>

    <section class=“post-container”>
      <%= yield %>
    </section>

    <!-- <div id="main" role="main">
      <aside class="side-nav">
        <ul>
          <% blog.articles.each do |articles| %>
          <li><%= link_to "#{articles}" %></li>
          <% end %>
        </ul>
      </aside>

    </div> -->

    <!-- <aside>
      <h2>Recent Articles</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </aside> -->
  </body>
</html>
