---
pageable: true
per_page: 10
---


<div id="container">
  <aside class="side-nav">
    <div id="avatar">
    </div>
    <h1>Hi, I'm Evan</h1>
    <p>My name is Evan, I am a graduate of <a class="link" style="font-weight:bold" target="_blank" href="https://www.insead.edu/">INSEAD</a> (MBA class of 21D)
      and I'm also the co-founder of Centroly, a social network for collecting and sharing new ideas.
        I previously worked as a Technical Program Manager at <a class="link" style="font-weight:bold" target="_blank" href="https://www.grab.com/">Grab</a>, a super-app unicorn in Southeast Asia, 
        and was also Chief of Staff at a data analytics software-as-a service startup.
    <p>Having worked with many startups making a difference through building great products and deploying data, I enjoy finding
      ways to use software and data to help action-takers operationalise their visions, to do meaningful work
      and build purposeful careers.
    <p> I coded this site on Ruby using Middleman Blog and GitHub Pages.
    </p>
  </aside>

  <div id="social-container">
    <div id="social-li">
      <button class="btn" onclick="window.open('https://www.linkedin.com/in/evantanbk/','_blank')">
        <img class="social" src="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/linkedin.png">
      </button>
    </div>
    <div id="social-twitter">
      <button class="btn" onclick="window.open('https://twitter.com/evtan','_blank')">
        <img class="social" src="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/twitter.png">
      </button>
    </div>
    <div id="social-gh">
      <button class="btn" onclick="window.open('https://github.com/evtan','_blank')">
        <img class="social" src="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/github.png">
      </button>
    </div>
    <div id="social-medium">
      <button class="btn" onclick="window.open('https://medium.com/@evtan','_blank')">
        <img class="social" src="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/medium.png">
      </button>
    </div>
    <div id="social-centroly">
      <button class="btn" onclick="window.open('https://centroly.com/evtan','_blank')">
        <img class="social" src="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/centroly.png">
      </button>
    </div>
  </div>
</div>

<div id="container">
  <h3>Recent Articles</h3>
    <% blog.articles[0...10].each do |article, i| %>
      <li><b><%= link_to article.title, article, :class => 'link' %></b> <span><%= article.date.strftime('%e %b %Y') %></span></li>
    <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
