---
pageable: true
per_page: 10
---

<div id="container">
  <aside class="side-nav">
    <div id="avatar">
    </div>
    <h1>Hi, I'm Evan</h1>
    <p>My name is Evan, and I'm Chief of Staff at Holistics Software, a full-stack data analytics
      platform ranked #2 globally by Gartner's FrontRunners in 2019.
    <p> Having worked with many
      startups making a difference through building great products and deploying data, I enjoy finding
      ways to use software and data to help action-takers operationalise their visions, to do meaningful work
      and build purposeful careers.
    <p> I coded this site on Ruby using Middleman Blog and GitHub Pages.
    </p>
  </aside>

  <div id="social-container">
    <div id="social-li">
      <button class="btn" onclick="window.open('https://www.linkedin.com/in/evantanbk/','_blank')">
        <img class="social" src="https://uc2b32c616b5930f763ee3cc7a0b.previews.dropboxusercontent.com/p/thumb/AAz-nfveXe4ChDQwBD-kBk7hbql4XPvpp7NQAxFCHoL6iR07uAL0hN2qfgW50RVdjGCARz8nNd8G0iTsrWR7dunTisg8EElgoGhNE-lvf1Ph3KkAUEQnCATpiNOHQEqrnGpckMM09Kko8xmeatkgDtGOfZvLaamEXs4ybTDsVJWJTN5Hbd1OXvqv1xO_oyt7vEZXKkqszZl6JM6vkkTmvXtdrHZ9oFpDo1SzqH1fdJB8QrtB7oOnVzKskVEGzcGNsNl9H1ycq6yn2zNFiyc1LL5V4EKxqNVwsqCYbnWdZURGjwdkxjPbleotgwNZNYQhRfL5hiNKeEXM5NXf4gTnZR-sre-tsj4CMcUFJ-QzkkfVNTBNYkLaLQCFxKqMnDTDR1M/p.png?fv_content=true&size_mode=5">
      </button>
    </div>
    <div id="social-twitter">
      <button class="btn" onclick="window.open('https://twitter.com/evtan','_blank')">
        <img class="social" src="https://ucb3769dcf5741b111f0a9ee8b9d.previews.dropboxusercontent.com/p/thumb/AAwXvFH6b9f1W-GDqyBdUNyc3X1CqSRgRm00wLwdPenbmX_PMBUVdEnHIaovM5KC9QHshyr-zy0KO7C02JMxbt1L0sM6INZZwgTzJ4AOz9ui2p6nXbWrio9oTubnpFnQ1BheAXIs0Oy_0oVfftuo3dKN9SVwGXOzHjEkR3oXNzUdMdcC4wHZzj73u-oFB8T9CMIR65YDDYN6rYNqGlZZsAwltO8jTPdFqPfjfQam7GH2pwH07TLLwAlalLFrEGizaz5Vw8ZXCBFTV9QhzxUTidoRML9FWU40BL5OWd1r5YNsDTqQXSNL18xN1rOOoSDcROOjSn2j2ke7G4iloJNu0H4LKOmRGPOwCHiKJLHdfi0-BNQbP82aCPvB6BVF2dKPFwc/p.png?fv_content=true&size_mode=5">
      </button>
    </div>
    <div id="social-gh">
      <button class="btn" onclick="window.open('https://github.com/evtan','_blank')">
        <img class="social" src="https://ucce326e14c623364224901f02b8.previews.dropboxusercontent.com/p/thumb/AAw7165aXhhVZLmHnFIfaXZTA71EEvKXzazJCBghhsgWPcKFMqhSSUvsq0RapR_58tQjNk7_swUaLdiDDPfSu01F7S1fgN6mukMVXjE1qCRQeFqRE50t7OE41sA6_zxwcImRjRENe_EpMKQxpgkeM4uno5PaRTsA5l_jsVXdGqO-4lM4pIOlZuQb_XnemVNz6cxoQ2HYA5KPGJE1NfBCMA3E6_Nghpo4QBU5VlcLJzaPPJkNKbccW5fsXWIQSdU2VzaZcSQ_1yKFlTAgOEpwpfzaOASt7thgAQgr5OjIWhUjP8wSBGiVLKjBdRW_2ERJpdm0gqenGyv4ieqLoZc4vnfM_44alhs-h8Jj765kEfDKKg46-aitAI9cd3bQoxR9jrQ/p.png?fv_content=true&size_mode=5">
      </button>
    </div>
    <div id="social-medium">
      <button class="btn" onclick="window.open('https://medium.com/@evtan','_blank')">
        <img class="social" src="https://uc2bb5f3b35a15346e362861faea.previews.dropboxusercontent.com/p/thumb/AAwLI5ExyD1L-DSuir0RlX1VRcgWxk1UNFfAG2VKxhdzeOBTqM1PW9ovG7ugE9Im9mliHtDGWYUi2ItaXGg-k42tWdPamIbnxw93Cm0RTfsfegc2OgIS1jSRWQhHsVqKHkRqNzFo7sB9_TKWhtuTA7WSFIhsY3kwireUuT31OwNPNXUV5PG_LYt1ThPuPilVbZb5f9SBmiEB5ZLkV85v24lTL1pZOKKR4SkHe2SQsTOJqCrk7QvY8WkWpM-dskfCP4-ZHMUXkWSWbpHjegIeG02hcha2Yn4tO0S1ItWNhJz2VGNUFM8SBadqp5iGepUDXWmIAFoKV9Q6hV_GoXbI8XvR0mAOhbU1VxM63J6uqtUr_hRNQad2RhgWho2X80l5EPDsx1lpL-Tq4GcnK0Ep0QHR/p.png?fv_content=true&size_mode=5">
      </button>
    </div>
  </div>
</div>

<div id="container">
  <h3>Recent Articles</h3>
    <% blog.articles[0...10].each do |article, i| %>
      <li><b><%= link_to article.title, article, :class => 'link' %></b> <span><%= article.date.strftime('%e %b %Y') %></span></li>
    <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
